.container {
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 10px;
}
.one {
    width: 33%;
    height: 200px;
    margin: 5px;
    float: left;
}
.two {
    width: 33%;
    height: 280px;
    margin: 5px;
    float: left;
}
.three {
    margin-top: 320px;
    background: #f1f1f1;
    clear: both;
}